<div ng-controller="mediaController">
<video preload="none" poster="{{trustSrc(selectedImage)}}" controls autoplay loop muted preload="auto">
	<source ng-repeat="entry in Movies.entries" ng-src="{{trustSrc(selectedMovie)}}" type="video/{{ entry.contents[0].format }}" />
</video>
<progressbar value="percent" max="100"></progressbar>
</div>