div.userview {
	margin: 5px;
	border: 1px solid #ccc;
 	float: left;
	width: 180px;
}

div.userview:hover {
	border: 1px solid #777;
}

div.userview img {
	width: 100%;
	height: 300px;
}

div.desc {
	padding: 15px;
	text-align: center;
	overflow:scroll;
}

body {
	margin: 0;
	background-color:#cccccc;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #006699;
	color: white;
}

.player video {
	max-width: 100%;
	display: block;
}

.player .progress {
	border-radius: 0;
	margin: 0 0 5px 0;
	height: 10px;
}

.player .progress-bar {
	background-color: #9e0b0f;
}

.player .controls {
	text-align: center;
	font-size: 2em;
}

.player .controls a {
	color: #777;
	cursor: pointer;
	color: #000;
	font-size: 1em;
	margin: 0 10px;
}

.player .controls a:hover {
	color: #555;
}

.player .controls .glyphicon {
	vertical-align: middle;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

ul li {
    border: 1px solid #ddd;
    text-align:center;
    width:214px;
    background-color: black;
    color: white;
}

li:hover {
    background-color: #ddd;
    color: black;
}

.container {
    width: 74em;
    overflow-x: auto;
    white-space: nowrap;
}

player {
	width: 90px;
	height: 90px;	
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}