<!DOCTYPE html>
<html ng-app="mediaApp">
<head>
	<title>media-library-demo(MEAN)</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel = "stylesheet" type = "text/css" href = "../css/style.css" />
</head>
<body>
<!-- Header Bar -->
<div class="topnav">
	<a id="home">Home</a>
	<div style="float: right; color: white;">
		<a href="#history">History</a>
	</div>
</div>

<div ng-controller="mediaController">
	<div class="container">
		<ul>
			<li ng-repeat="entry in Movies.entries" ng-click="changeMovieSelection(entry)">
				<img src="{{entry.images[0].url}}" alt="Video Thumbnail">
				<div class="desc">Title: {{entry.title}}</div>
			</li>
		</ul>
	</div>
	
	<div id="myNav" class="overlay">
  		<a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
  		<div class="overlay-content">
			<center><player videos='[{"type":"mp4","src":"{{selectedMovie}}","poster":"{{selectedImage}}","captions":"http://www.videojs.com/vtt/captions.vtt"},{"type":"webm","src":"http://vjs.zencdn.net/v/oceans.webm"}]' /></center>
  		</div>
	</div>
	<pre>





	


	<!-- Separation the home and history views. Using $routProvider to separate the views is part of future enhancement. -->









	</pre>
	<!-- Watch History View -->
	<h1>List of watch history: {{media.length}}</h1>
	<ul id="history">
		<li ng-repeat="data in media" ng-click="playSelectedMovieFromHistory(media)">
		<img src="{{data.mediaPoster}}" alt="{{data.mediaUrl}}">
		<div class="desc">Title: {{data.mediaTitle}}</div>
		</li>
	</ul>
</div>
<div class="topnav"><a href="#home"><-Back to HOME</a></div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-resource.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="../js/controllers/media-controller.js"></script>
<script type="text/javascript" src="../js/directives/media-directive.js"></script>
<script type="text/javascript" src="../js/services/media-service.js"></script>
</body>
</html>